body {
    background-image: url(https://source.unsplash.com/1000x1000/?galaxy?1);
    background-repeat: no-repeat;
    background-size: cover;
}
.do {
    
    padding-left: 15%;
    padding-right: 10%;
    background-color: lightgray;
    opacity: 0.6;
    margin: 20%;
}
.one {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 40px;
}
.two {
    color: white;
    text-align: center;
}
.three {
    height: 100px;
    width: 180px;
    border: 1px solid white;
    text-align: center;
}
.four {
    height: 100px;
    width: 180px;
    border: 1px solid white;
    text-align: center;
}
.five {
    height: 100px;
    width: 180px;
    border: 1px solid white;
    text-align: center;
}